#main {
    margin: auto;
    width: 100%;
}

#sidebar    {
    /* width: 100px; */
    width: 70%;
    min-height: 400px;
    background: red;
    float: left;
}

#page-wrap  {
    width: 30%;
    background: #0f0;
    min-height: 400px;
    float: left;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}