.bookmarkHeading {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.emptyFavourites {
    text-align: center;
}

.card-image {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    /* flex-direction: row; */
    /* border: 2px solid #768a9f; */
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card-cost {
    align-items: flex-end;
    float: left;
    position: absolute;
    right: 30px;
}


.card-text {
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#delete-button {
    /* float: right; */
    /* right: 0px; */
    /* position: relative; */
    text-align: right;
}

#bookmark-container {
    overflow-y: scroll;
    width: 100%;
}