.emptyData {
    padding-top: 4%;
    text-align: center;
}

.bookingsHeader {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

#bookings-container {
    overflow-y: scroll;
    width: 100%;
    background-color: white;
}