.App {
  /* text-align: center; */
  /* height: 100vw;
  width: 100vh; */
  position: absolute;
  /* background-image: url("../images/collage2.webp") ;  */
  /* no-repeat center center fixed; */
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-size : 100% auto; */
  /* background-repeat:no-repeat; */
  background-size:cover;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  /* Added for header alignment */
  margin: auto;
}

.container {
  /* text-align: center; */
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
